// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// header background
$bgColorHeader: rgba(255, 255, 255, 0.9);

$bgColorFooter: #5F4E46;
