$bgColorFooter: #5F4E46;

// keyframes
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


h2 {
    font-family: 'Dancing Script', cursive, sans-serif;
    font-size: 2rem;
    text-align: center;
    // margin-top: 120px;
    margin-bottom: 50px;
}

p {
    margin: 0.5rem 0;
    letter-spacing: 0.8px;
}

footer {
    display: flex;
    flex-direction: column;
    height: 200px;
    background-color: $bgColorFooter;

    & .footer-menu {
        display: flex;
        justify-content: center;
        // width: 50%;
        margin: 50px auto;

        & li {
            display: inline-block;
            min-width: 150px;
            text-align: center;
            margin: 0 2em;
            color: #ffffff;
        }
    }

    & p {
        color: #ffffff;
        text-align: center;
        & i {

            margin-right: 0.2em;
        }
    }
}

body {
    font-size: 15px;
    // font-family: sans-serif;
    letter-spacing: 0.1px;;
}
a {
    text-decoration: none;
    color: inherit;
}

// section {
//     padding-top: 40px;
// }
section + section {
    padding-top: 0;
}

table tr th {
    font-weight: normal;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: inherit;
    height: 50px;
    & .logo {
        width: 200px;
        height: 100%;
        background-color: pink;
    }
    & nav {
        & ul {
            display:flex;
            & li {
                margin: 0 1em;
            }
        }
    }
}

.w-container {
    width: min(90%, 1286px);
    margin: auto;

    &.narrow {
        width: 60%;
        margin: auto;
    }
}

.hero {
    position: relative;
    // width: 100%;
    min-height: 100vh;
    height: 100%;
    margin: auto;
    & .hero-img {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0; 
        right: 0;
        bottom: 0;
        margin: auto;
        width: min(100%, 1286px);
        height: 80%;
        background-image: url("/images/shard-g794920a6f_1920.jpg");
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }
    & .sns-wrapper {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background-color: rgba(255, 255, 255, 0.5);
        padding: 30px;
        border-radius: 8px 0 0 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;
        & a {
            margin: 8px 0;
            color: #6e6e6e;
            &:hover {
                opacity: 0.7;
            }
        }
    }
    & .hero-container {
        width: 90%;
        height: 90%;
        margin: auto;
        
        & .hero-title {
            width: 100%;
            min-height: 100vh;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            & h1 {
                font-size: 8rem;
                font-family: 'Dancing Script', cursive, sans-serif;
                z-index: 10;
                &::before,
                &::after {
                    content: '-';
                    display: inline-block;
                    margin: 0 2rem;
                }
            }
        }
    }
}

.main-contents {
    margin-bottom: 200px;

    & .head-text-container {
        width: 80%;
        margin: 0 auto 80px;
        & p {
            text-align: center;
            // line-height: 3em;
        }
    }
}

.news-head {
    display: flex;
    align-items: center;
    & p {
        margin-right: 1em;
    }
    
    & span {
        display: inline-block;
        background-color: gray;
        color: #fff;
        min-width: 90px;
        font-size: .8em;
        padding: 0.6em 0;
    }
}

.txt-lg {
    font-size: 1.5rem;
}

.btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    & a {
        text-decoration: underline;
    }
}

button {
    display: inline-block;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;

    &:hover {
        opacity: 0.8;
    }
}

.btn-sm {
    padding: 0.25em 1.5em;
}

.btn-md {
    padding: 1em 5em;
}

.btn-lg {
    padding: 1em 8em;
}

.confirm {
    background-color: rgb(236, 204, 154);
    font-size: 1.0rem;
}

.submit {
    background-color: #000;
    color: #fff;
}

.back-icon {
    &::before {
        display: inline-block;
        content: "\f060";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        
        border: 1px solid #d2d2d2;
        border-radius: 50%;
        padding: 10px;
        margin-right: 1em;
    }
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    color: #848484;
    & tr {
            border-bottom: 1px solid #efefef;
        }
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
    &.show {
        animation-name: fadeIn;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
        // opacity: 1;
        pointer-events: all;
    }
    
    
}