.contact-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    & h2 {
        font-size: 2rem;
        text-align: center;
    }
    
    .contact-form-table {
        table-layout: fixed;
        border-collapse: collapse;
        color: #848484;
        margin-bottom: 60px;

        & tr {
            border-bottom: 1px solid #efefef;
        } 

        & th {
            position: relative;
            display: table-cell;
            width: 290px;
            padding: 15px;
            text-align: left;
            vertical-align: middle;
            font-weight: 400;

            & span {
                position: absolute;
                top: calc(50% - (2em / 2));
                right: 0;
                width: 4em;
                height: 2em;
                font-size: 0.8em;
                text-align: center;
                display: inline-block;
                line-height: 2em;
                vertical-align: middle;

                &.required-icon {
                    background-color: black;
                    color: #ffffff;
                }

                &.optional-icon {
                    background-color: #bfcad2;
                    color: black;
                }
            }
        }
        
        & td {
            display: table-cell;
            padding: 15px;
            vertical-align: middle;

            & input[type="text"],
            & input[type="email"],
            & input[type="tel"] {
                outline: none;
                border: none;
                width: 500px;
                padding: 1em;
                background-color: #f1f1f1;
            }
            & input[name="your-zip"] {
                width: 100px;
            }

            & textarea {
                outline: none;
                border: none;
                background-color: #f1f1f1;
                resize: none;
                max-width: 600px;
                max-height: 500px;
                min-width: 100px;
                min-height: 100px;
                width:500px;
                padding: 1em;
                // height:300px
            }
        }

        & .td-zip {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }


        & .contact-head,
        & .zip-head
         {
            vertical-align: top;
            top: 0;

            & span {
                top: 15px;
            }
        }

        & select {
            outline: none;
            border: none;
            padding: 15px;
            background-color: #efefef;
        }
    }

    & .btn-wrapper {
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto 100px;
        & button {
            display: block;
        }
    }
}