.page-title {
    // font-family: "Trattatello";
    font-family: 'Dancing Script', cursive, sans-serif;
    font-size: 2rem;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;
}
.main-contents {
    & .menu-inner-wrapper {
        & .slider-wrapper {
            display: flex;
            width: 100%;
            // height: 305px;
            // margin-top: 100px;
            & .slider-item {
                width: 200px;
                height: 305px;
                margin: 0 5px;
                background-image: url("../images/new_menu_cake.jpg");
                background-size: cover;
                background-position: center;
                object-fit: cover;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        & .menu-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
            gap: 1vw;
            // width: 84%;
            margin: auto;

            // タブレット幅以下はモバイル表示
            @media screen and (max-width: 768px){
                grid-template-columns: repeat(2, 1fr);
            }

            & .menu-item {
                width: 100%;
                & .menu-img {
                    width: 100%;
                    height: 280px;
                    object-fit: cover; 
                    background-color: pink;
                    &:hover {
                        cursor: pointer;
                    }
                    &.new-icon {
                        position: relative;

                        &::before {
                            position: absolute;
                            content: 'New!';
                            top: 5px;
                            right: 5px;
                            width: 80px;
                            height: 80px;
                            color: #fff;
                            transform: rotateZ(45deg);
                            z-index: 20;
                            font-size: 1.2em;
                            font-weight: bold;
                            text-align: center;
                        }
    
                        &::after {
                            position: absolute;
                            content: '';
                            top: -5px;
                            right: -5px;
                            width: 0px;
                            height: 0px;
                            background-color: transparent;
                            border-top: 40px solid crimson;
                            border-bottom: 40px solid transparent;
                            border-left: 40px solid transparent;
                            border-right: 40px solid crimson;
                            filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.2));
                            z-index: 10;
                        }
                    }
                }
            }
        }
    }
}

// モーダルウィンドウ
.modal-contents-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    @media screen and ( max-width: 1024px ) {
        flex-direction: column;
    }
    background-color: #fff;
    padding: 50px;

    & .modal-close {
        position: absolute;
        top: -41px;
        right: -41px;
        color: #efefef;
        &:hover {
            cursor: pointer;
        }
    }

    & .modal-menu-image {
        width: 40vh;
        height: auto;
        object-fit: cover;
        aspect-ratio: 3 / 2;
        opacity: 0;
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));
        &.show {
            animation-name: fadeIn;
            animation-duration: 0.3s;
            animation-fill-mode: forwards;
            opacity: 1;
        }
    }

    & .modal-menu-detail-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 400px;
        word-break: break-word;
        margin: 0 2rem;
        
        & .menu-name {
            font-size: 1.2em;
            margin-bottom: 1em;
            @media screen and ( max-width: 1024px ) {
                margin-top: 1em;
            }

            & + p {
                margin: 1em 0 1em 1em;
            }
        }

        & .price-wrapper {
            border-top: solid 1px #a1a1a1;
            border-bottom: solid 1px #a1a1a1;
            padding: 0.5em 0;
        }
    }
}